GLADIA_API_KEY= # votre clé ici
MISTRAL_API_KEY= # votre clé ici

SUPABASE_URL= # votre clé ici
NEXT_PUBLIC_SUPABASE_URL= # votre clé ici
SUPABASE_SERVICE_KEY= # votre clé ici

LOCAL_ASR_URL=

TRANSCRIPTION_PROVIDER=gladia
LLM_PROVIDER=mistral

# Production
ALLOWED_ORIGINS=http://localhost:3000 # ex: https://metis.example.com
NEXT_PUBLIC_API_URL=http://localhost:8000 # ex: https://api.metis.example.com
