GLADIA_API_KEY= # votre clé ici
MISTRAL_API_KEY= # votre clé ici

SUPABASE_URL= # votre clé ici
NEXT_PUBLIC_SUPABASE_URL= # votre clé ici
SUPABASE_SERVICE_KEY= # votre clé ici

LOCAL_ASR_URL=

TRANSCRIPTION_PROVIDER=gladia
LLM_PROVIDER=mistral
FRONTEND_URL= # URL publique du frontend, ex: https://metis-app.net
NEXT_PUBLIC_API_URL= # URL publique du backend, ex: https://api.metis-app.net
ALLOWED_ORIGINS= # ex: https://metis-app.net